@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@media only screen and (max-device-width: 300px) {
    .page {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
    }
}

@media only screen and (max-device-width: 768px) {
    main.page {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
    }
    div.container div.navigation {
        top: 150px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas Neue;
}

a {
    text-decoration: none;
    color: inherit;
}

.page {
    width: 100%;
    height: 100%;
    min-width: 280px;
    min-height: 100%;
    position: absolute;
    background-color: #CEE4D9;
    display: flex;
    flex-direction: column;
    align-items: auto;
    overflow-x: hidden;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.container {
    position: relative;
}

.container .navigation {
    position: relative;
    top: 11.5vh;
    width: 80px;
    height: 500px;
    background-color: #A3C6C1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    z-index: 1;
}

.container .navigation.active {
    width: 300px;
}

.container .navigation ul {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}

.container .navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.container .navigation ul li:hover {
    background-color: #8FAFAD;
}

.container .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #B73447;
    font-weight: 400;
}

.container .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 80px;
    height: 60px;
    line-height: 80px;
    text-align: center;
    margin: 20px 0;
}

.container .navigation ul li a .icon .fa {
    font-size: 44px;
}

.container .navigation ul li a .title {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    margin-top: 25px;
}

.toggle {
    position: absolute;
    top: calc(75.5% + -73px);
    right: -25px;
    width: 40px;
    height: 40px;
    background: #A3C6C1;
    cursor: pointer;
    border: 5px solid #CEE4D9;
    border-radius: 50%;
    z-index: 1;
}

.toggle::before {
    content: '\f054';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #CEE4D9;
}

.toggle.active::before {
    content: '\f053';
}


/* PAGINA INICIAL COMEÇA AQUI*/

.box-recepction {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}

.recection-welcome {
    width: 55vmax;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.recection-welcome h1 {
    color: #4D4D4E;
    font-size: 4.2vmax;
    text-transform: uppercase;
}

.recection-welcome p {
    color: #4D4D4E;
    text-transform: uppercase;
}

.logo-recepction {
    float: right;
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#logo-kcode {
    width: 40%;
}

.separation-ides {
    position: relative;
    width: 80vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ides-container {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: row;
    animation: idescontainer 1s both;
    margin-left: 3%;
}

@keyframes idescontainer {
    from {
        opacity: 0;
        width: 60%;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}

.ides-container-part2 {
    width: 100%;
    height: 65vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex: row;
    animation: idescontainer 1s both;
}

.btn {
    float: left;
    width: 2vh;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .fa {
    font-size: 3vh;
    color: #B73447;
    cursor: pointer;
    visibility: hidden;
}

.box-ides {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.idesLogo {
    position: relative;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: box 1s 0.3s both;
}

.idesLogo b {
    color: #4D4D4E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.idesLogo a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ide {

     width: 20%;
     height: 20%;
}

@keyframes box {
    0% {
        transform: translate(20deg);
        opacity: 0;
    }
    50% {
        transform: rotateX(-20deg);
        opacity: 0.5;
    }
    100% {
        transform: rotateX(30deg);
        opacity: 1;
    }
}

.footer {
    width: 100vw;
    height: 20%;
}

.see-more {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-more span {
    margin-right: 2%;
    font-size: 3vh;
}

.see-more .fa {
    margin-top: 5px;
    color: #B73447;
}

.logo-ide {
    width: 25vh;
    cursor: pointer;
}

.ides-logo b {
    margin-top: 5%;
}


/* PAGINA DE CADASTRO ADM */

.container-itens {
    width: 80%;
    position: absolute;
    height: 100%;
    left: 10%;
}

.informacoes-cliente {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
}

#img-dragaozin {
    width: 40vh;
    margin-right: -7vh;
}

.cadastro-novos-usuarios {
    width: 100%;
    height: 70%;
}

.img-cliente {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30%;
    height: 100%;
}

.box-dados-do-cliente {
    width: 18%;
    height: 79%;
    display: flex;
}

.dados-do-cliente {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24vh 0 0 2vh;
    font-size: 2.1vh;
    color: #4D4D4E;
}

.dados-do-cliente #b_usuario {
    font-size: 5vh;
    font-weight: bold;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    width: 10%;
    height: 78%;
    padding-left: 2vh;
}

.edit .fa {
    font-size: 3vh;
    color: #638481;
}

.edit .fa:hover {
    color: rgba(0, 0, 0, 0.575);
}

.container-cadastro-novos-usuarios {
    width: 80%;
    height: 100%;
    margin: auto;
}

.text-cadastro-novo-usuario {
    width: 100%;
    height: 20%;
    color: #638481;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs-cadastro-novo-usuario {
    width: 100%;
    height: 68%;
    display: flex;
    flex-direction: row;
}

.box-inputs {
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#senha_cad-label {
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#senha_cad {
    width: 96%;
    height: 85%;
}

.olho {
    cursor: pointer;
    width: 25px;
}

#form_cadastro {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}





#adm-label input[type=checkbox] {
    position: absolute;
    margin-left: 10px;
    width: 4.5%;
    height: 6.4%;
    border-radius: 3px;
    top: 10.7rem;;
    left: 5rem;
}

#adm-label p {
    color: #4D4D4E;
}

#adm-label>span {
    color: #CEE4D9;
    padding: 0.5rem 0.25rem;
    border-radius: 100%;
}

#adm-label>input {
    height: 30px;
    width: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 20px;
    outline: none;
    transition-duration: 0.3s;
    background-color: rgba(255, 255, 255, 0.911);
    cursor: pointer;
}

#adm-label>input:checked {
    background-color: #B73447;
}

#adm-label>input:checked+span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #CEE4D9;
    position: absolute;
    left: 6.1rem;
    top: 12.5rem;
}

#adm-label>input:active {
    border: none;
}

.box-inputs input {
    font-family: 'Inter', sans-serif;
    color: #514E4D;
    width: 90%;
    height: 13%;
    border-radius: 5px;
    border: none;
    margin-top: 1vh;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.911);
}

.box-inputs input::placeholder {
    font-family: Bebas Neue;
    text-transform: uppercase;
    color: #514E4D;
}


.btn-cadastro {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}

.btn-cadastro input {
    font-family: Bebas Neue;
    padding: 0;
    width: 6vw;
    height: 4vh;
    font-size: 1.8vh;
    font-weight: bold;
    border-radius: 5px;
    color: #4D4D4E;
    text-align: center;
    background-color: #A3C6C1;
    border: none;
}

.btn-cadastro input:active {
    color: #A3C6C1;
    background-color: #4D4D4E;
}

.btn-cadastro input:hover {
    transform: scale(1.1);
    background-color: #638481;
    color: white;
    font-weight: normal;
}


/* tool tips*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.dark-mode {
    background-color: rgba(0, 0, 0, 0.931);
    color: white;
}


/* TUTORIAL */

.bgimg {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}


/* Começo da tela de gráficos */

.section-graficos {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: flex-end;
}

.container-graficos {
    height: 100%;
    width: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.graficos {
    height: 100%;
    width: 20%;
}

.box-graficos {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-grafico {
    color: #514E4D;
    font-size: 30px;
}

.status {
    height: 36%;
    width: 7%;
}

.livre {
    height: 56%;
    width: 18%;
    border-radius: 3px;
    background-color: #A3C6C1;
}

.uso {
    height: 56%;
    width: 18%;
    border-radius: 3px;
    background-color: #88A9A7;

}
.tempo {

    height: 56%;
    width: 18%;
    border-radius: 3px;
    background-color: #B73447;

}

.box-status {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.status p {
    font-size: 15px;
    margin-left: 12px;
    color: #4D4D4E;
}

.ide-graficohardware {
    width: 100%;
    height: 24%;
    margin-right: 3vw;

}

.container-idehardware {
    height: 100%;
    width: 15%;;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box-legenda {
    height: 100%;
    width: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    


}

.legenda {
    width: 22%;
    height: 12%;
    border-radius: 3px;
    margin-right: 10%;
    background-color: #a3c6c100;
}

.box-legenda p {
    color: #4D4D4E;
}

.livre-ram {
    width: 22%;
    height: 12%;
    border-radius: 3px;
    margin-right: 10%;
    background-color: #A3C6C1;

}

.uso-ram {
    width: 18px;
    height: 16px;
    border-radius: 3px;
    margin-right: 10%;
    background-color: #B73447;


}

.uso-hardware {
    width: 18px;
    height: 16px;
    border-radius: 3px;
    margin-right: 10%;
    background-color: #638481;

}

.footer-ajuda {
    width: 100vw;
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.ajuda {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajuda input {
    font-family: Bebas Neue;
    padding: 0;
    width: 6vw;
    height: 4vh;
    font-size: 1.8vh;
    font-weight: bold;
    border-radius: 5px;
    color: #4D4D4E;
    text-align: center;
    background-color: #A3C6C1;
    border: none;
}

.ajuda input:active {
    color: #A3C6C1;
    background-color: #4D4D4E;
}

.ajuda input:hover {
    transform: scale(1.1);
    background-color: #638481;
    color: white;
    font-weight: normal;
}

.footer-ajuda-perfil {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}

#btn-ajuda-perfil {
    height: 43%;
    width: 12.5%;
    border: none;
    background-color: #A3C6C1;
    border-radius: 10px;
    font-size: 1vmax;
    outline: none;
}

.ajuda-perfil {
    width: 77vw;
    display: flex;
    justify-content: flex-end;
    height: 16vh;
    align-items: center;
}

.graficos-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vmax;
    width: 100%;
    height: 60%;
    border-radius: 10px;
    background-color: #B73447;
}

.container-relogio {
    width: 6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2%;

}

.label-hora {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-ides {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
}

.separa-graficos {
    width: 80%;
    height: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

#img-grafic {
    width: 10%;
}


/* perfil dev */

#ides-label {
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.idesLogo input[type=checkbox] {
    position: absolute;
    right: 0;
    top: 0;
}

.idesLogo img {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.idesLogo>span {
    color: #CEE4D9;
    padding: 0.5rem 0.25rem;
}

.idesLogo>input {
    height: 30px;
    width: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 6px;
    outline: none;
    transition-duration: 0.3s;
    background-color: rgba(255, 255, 255, 0.911);
    cursor: pointer;
}

.idesLogo>input:checked {
    background-color: #B73447;
}

.idesLogo>input:checked+span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #CEE4D9;
    position: absolute;
    left: 9.0rem;
    top: 0.2rem;
}

.idesLogo>input:active {
    border: none;
}

.footer-salvar {
    width: 100vw;
    height: 20%;
    display: flex;
    margin: 15px;
    
}

.salvar {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 6%;
}


.salvar input {
    font-family: Bebas Neue;
    padding: 0;
    width: 6vw;
    height: 4vh;
    font-size: 1.8vh;
    font-weight: bold;
    border-radius: 5px;
    color: #4D4D4E;
    text-align: center;
    background-color: #A3C6C1;
    border: none;
}

.salvar input:active {
    color: #A3C6C1;
    background-color: #4D4D4E;
}

.salvar input:hover {
    transform: scale(1.1);
    background-color: #638481;
    color: white;
    font-weight: normal;
}

/* carregamento */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  