body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(206, 206, 206);
}

.div-esquerda{
    position: absolute;
    background-color: white;
    width:500px;
    margin-left: 18%;
    height:600px;
}
.div-direita{
    background-color:#363636;
    margin-left: 55%;
    width: 390px;
    height:600px;
    border-left: #66CDAA solid 12px;
}
.conecte-se{
    color:#66CDAA; 
    font-size: 50px;
    margin-left:25%;
    padding-top: 10%;
}
.cadastro_style{
    color:#66CDAA; 
    font-size: 35px;
   text-align: center;
}


.inputs{
    width:200px;
    margin-left:23%;
}

.esqueceu-senha{
    color:#363636;
    margin-left: 40%;
    font-size: 13px; 
    height: 10px;
    cursor:pointer;
    outline: none;
/* cursor:pointer faz com que quando o mouse passar em cima do elemento ele fique selecionável */
}

/* classe:hover faz o conteudo da classe mudar quando o mouse passa em cima */
.esqueceu-senha:hover{
    color:#66CDAA;
    /* nesse caso, o "esqueci a senha" muda pra azul quando o mouse passa */
}

.logo-home{
    width:50px;
    margin-left:2%;
    margin-top:1%;
    cursor:pointer;
}

.button-entrar{
    color:#66CDAA;
    background-color: #363636;
    font-size: 16px;
    margin-left: 40%;
    height: 45px;
    width: 100px;
    border-radius: 50px;
    /* border-radius faz com que a borda fique arredondada */
    border-color: transparent;
    cursor:pointer;
    outline: none;
}

.button-entrar:hover{
    transition: 0.5s;
    background-color:#66CDAA;
    color:#363636;
}

.input-email{
    width:270px; 
    height: 35px;
    border-radius: 10px; 
    background: #E5E5E5; 
    border-color: transparent;
    outline: none;
}

.input-senha{
    width:270px;
    height: 35px; 
    border-radius: 10px;
    background: #E5E5E5;
    border-color: transparent;
    outline: none;
}

.cyberlife-direita{
    font-size: 50px;
    margin-left:22%;
    padding-top: 35%;

}

.extra {
    text-align: center;
}

#img_aguarde {
    margin-top: 5%;
    height: 55px;
    visibility: hidden;
}
